8PinLCDBackpack/KiCad/8PinLCDBackpack/8PinLCDBackpack-backups/
3PinLCDBackpack/KiCad/3PinLCDBackpack/3PinLCDBackpack-backups/
*.kicad_prl
*fp-info-cache
FM-Transmitter/KiCad/FM-Transmitter/FM-Transmitter-backups/
LCD BackPack/KiCad/LCDBackPack/LCD BackPack-backups/
